/node_modules
/public/hot
/public/storage
/public/assets/js/config.js
/app/Http/Controllers/API/PayMongoController.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
